@tailwind base;
@tailwind components;
@tailwind utilities;



/* Globals  */

h1,h2,h3,h4,h5,h6, p{
 color: rgb(241, 241, 241);
 
 font-family: 'Roboto', sans-serif;
}

img{
 width: auto;
 height: auto;
}

/*  Customize button css*/

button{
 background: black;
 cursor: pointer;
 border: none;
 padding: 16px 32px;
 color: white;
 font-size: 24px;
 font-weight: bold;
 position: relative;
 border-radius: 12px;

}

button::before{
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: linear-gradient(
  45deg,
  red, blue, deeppink, blue,
  red, blue, deeppink, blue,
 );
 background-size: 800%;
 border-radius: 10px;
 filter: blur(8px);
 animation: glowing 20s linear infinite;
}

@keyframes glowing{
 0%{
  background-position: 0 0;
 }
 50%{
  background-position: 400% 0;
 }
 100%{
  background-position: 0 0;
 }
}


/*  Customize gradient name*/

.text-gradient-red-blue {
 background-clip: text;
 -webkit-background-clip: text;
 color: transparent;
 background-image: linear-gradient(to right, #ff0000, #16dcff);
}