@tailwind base;
@tailwind components;
@tailwind utilities;



/* Globals  */

h1,h2,h3,h4,h5,h6, p{
 color: rgb(241, 241, 241);
 
 font-family: 'Roboto', sans-serif;
}

img{
 width: auto;
 height: auto;
}